<%= render "layouts/header" %>
<%= render "layouts/left_sidebar" %>
<div class="span-12" style="background:#CFCFCF;padding:1em;">
  <h2>New Members</h2>
  <p>
    <b>New members are welcome at any time!</b> Please drop in on a class and try a complementary class. If you like what you see, join the club. There are no hidden fees, no associations to join, and no long term contracts to sign; just monthly dues paid for as long as you wish to be a member and train with us. If you are under 18, please bring a parent or guardian with you. 
  </p>
  <h3>New to martial arts?</h3>
  <p>
    If this is your first martial arts class, welcome. To start training you should wear loose fitting workout attire in which you can move comfortably. We train in bare feet and typical athletic shoes will not be permitted on the workout floor. If you decide to continue training with the the Okinawan Karate Club of Madision, you will need to get a mouth guard, groin protection, and a white gi (karate training uniform). All of these items can be ordered through the club or purchased at a sporting goods store. Other than that, all you need to bring is a positive attitude.
  </p>
  <h3>Trained in Karate or other martial art?</h3>
  <p>
    If you have trained in another style of Karate or other martial art, we would be happy to train with you. You will probably find the general outline of a class familiar. However, you may find that Shobayashi Ryu differes in many small and even substantial ways from they way you have previously trained. All fighting arts are exercises in compromise between speed, stability, mobility, and power. There can never be only one true art as there are many ways to climb the mountain. So, keep an open mind and give our style a try. Ultimately it will be up to you to decide if Shobayashi Ryu is right for you, but we do appreciate your willingness to give us a try.
  </p>
</div>
<div class="span-6 last">
  <h3><b>Schedule</b></h3>
  <hr/>
  Tuesday 7pm to 8pm<br/>
  Saturday 2pm to 3pm<br/>
  <br/>
  <h3><b>Club Dues</b></h3>
  <hr/>
  $60 per month 
  <br/><br/>
  <h3><b>Location</b></h3>
  <hr/>
  <b>549 Zor Shrine Place, Madison WI</b><br/>
  inside the <a href="http://www.synergydancemadison.com">Synergy Dance Academy</a>
  <br/><br/>
  <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=549+Zor+Shrine+Place+,Madison,+WI&amp;aq=&amp;sll=43.056334,-89.51378&amp;sspn=0.00773,0.019097&amp;ie=UTF8&amp;hq=&amp;hnear=549+Zor+Shrine+Pl,+Madison,+Wisconsin+53719&amp;t=m&amp;ll=43.056346,-89.513769&amp;spn=0.018814,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed">
  </iframe><br/>
  <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=549+Zor+Shrine+Place+,Madison,+WI&amp;aq=&amp;sll=43.056334,-89.51378&amp;sspn=0.00773,0.019097&amp;ie=UTF8&amp;hq=&amp;hnear=549+Zor+Shrine+Pl,+Madison,+Wisconsin+53719&amp;t=m&amp;ll=43.056346,-89.513769&amp;spn=0.018814,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small><br/>
</div>
<%= render "layouts/footer" %>
