<div class="span-5">
  <table class="leftlinks">
    <tr><td><%= link_to 'Home', :pages_home %></td></tr>
    <tr><td><%= link_to 'About', :pages_about %></td></tr>
  </table>
  <%= image_tag "karateka.png" %>
</div>
